body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  transition: background-color 29s ease-in;
}

.main {
  width: 400px;
  padding: 2em;
}
.main h1 {
  margin-bottom: 0;
}

.fade-in {
  position: relative;
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    left: 200px;
  }
  70% {
    left: 20px;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    left: 0px;
  }
}